$default-black-color: #000;
$default-white-color: #fff;
$default-gray-color: #9b9b9b;
$primary-green: #11998e;
$secondary-green: #30c96b;
$text-btn-color: #dcdcdc99;
$text-btn-hover-color: #fafafa;
$article-bg-color: #e6e6e6;
$toasts-error-secondary-color: #f00000;
$toasts-error-primary-color: #dc281e;
